html{
    scroll-behavior: smooth;
}
.part1{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    /* padding-top: 5%; */
    border: 2px solid black;
}
.part1 img{
    float: left;
    margin-right: 50px;
}
.part1::after {
    content: "";
    clear: both;
    display: table;
}
.part2{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border: 2px solid black;
}
.part2 img{
    float: right;
    margin-left: 50px;
}
.part2::after {
    content: "";
    clear: both;
    display: table;
}
body{
    /* background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("hogwarts2.jfif"); */
    width: 100%;
    background-image: linear-gradient(to right,rgba(17,20,31,0.9), rgba(55,67,95,0.6), rgba(85,97,126,0.3));
    background-repeat: no-repeat;
}
#navbar{
    background-color: rgba(55,67,95,0.6);
    text-align: center;
    padding: 5px;
    height: 50px;
    position: sticky;
    z-index: 1;
    width: 100%;
}
span{
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.home{
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("images/hogwarts3.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    margin-left: 155px;
    margin-right: 155px;
}
.home p{
    float: right;
    text-align: center;
    margin-left: 31%;
    margin-top: 20%;
    margin-right: 20px;
    font-size: 40px;
    border: 3px solid black;
    padding: 15px;
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0.5);
}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.active {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

.card{
/* float: left; */
text-align: center;
padding: 10px;
border: 1px solid black;
background-color: black; 
width: 225px;
margin: 50px;

}
.card img{
height: 250px;
}
.cast{
    justify-content: center;
    display: flex;
    overflow: scroll;
}
figcaption{
color: white;
font-size: 25px;
}
.image img{
height: 600px;  
}
.footer a{
text-decoration: none;
width: 50px;
font-size: 50px;
margin: 20px;
border-radius: 10px;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram {
background: #f40083;
color: white;
}
.card img{
filter: grayscale(100%);
}
